@use '../variables.scss' as *;
@use '../breakpoints' as bp;
.primary-button {
	width: 100%;
	padding: 16px 16px;
	background: $orange;
	color: #222222;
	border: none;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.2s;
	letter-spacing: -0.3px;

	&:hover {
		background: $purple;
		color: $white;
		transform: translateY(-1px);
	}
	&:active {
		background: $purple-2;
		color: $white;
	}
	&:disabled {
		background: #ccc;
		cursor: not-allowed;
	}
}
