@use '../variables.scss' as *;
@use '../breakpoints' as bp;

footer {
	width: 100%;
}
.footer {
	display: flex;
	justify-content: space-between;
	padding: 41px 74px 65px 24px;
	max-width: 1252px;
	margin: 0 auto;
	@include bp.tablet-768 {
		flex-direction: column;
		align-items: flex-start;
	}
	&__left {
		padding-top: 17px;
		.company__info {
			display: flex;
			flex-direction: column;
			gap: 16px;
			& div {
				display: flex;
				flex-direction: column;
				gap: 4px;
				color: $white;
				span {
					font-size: 12px;
				}
			}
		}
		@include bp.tablet-768 {
			margin-bottom: 24px;
		}
	}

	&__logos {
		display: flex;
		gap: 24px;
		align-items: center;
		margin-bottom: 25px;
		.tank {
			width: 35.71px;
			height: 45.79px;
		}
		.logo {
			width: 94.11px;
			height: 16px;
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		gap: 40px;
		padding-right: 6px;
		padding-top: 0px;

		nav {
			display: flex;
			gap: 16px;
			padding-top: 15px;
			@include bp.tablet-768 {
				flex-direction: column;
				align-items: flex-start;
			}
			ul {
				display: flex;
				flex-direction: column;
				width: 144px;
				gap: 1px;
				li a {
					font-size: 12px;
					color: $secondary-white;
					transition: all 0.2s ease-in;
					&:hover {
						color: $white;
					}
				}
			}
		}
		& .socials {
			gap: 17px;
		}
	}
}
