@use '../variables.scss' as *;
@use '../breakpoints' as bp;

form {
	width: 100%;
	max-width: 440px;
	margin-bottom: 107px;
}

.form-group {
	position: relative;
	&:nth-child(1) {
		margin-bottom: 16px;
	}
}

input[type='text'],
input[type='tel'] {
	width: 100%;
	max-width: 392px;
	height: 23px;
	padding: 12px 23px;
	border: 1px solid $orange;
	border-radius: 8px;
	font-size: 16px;
	transition: all 0.2s;
	opacity: 0.8;
}

input[type='text']:focus,
input[type='tel']:focus {
	opacity: 1;
	outline: none;
	border-color: var(--accent);
	box-shadow: 0 0 0 3px rgba(255, 107, 0, 0.12);
}

.checkbox-wrapper {
	display: flex;
	align-items: center;
	gap: 3px;
	margin: 4px 0 16px;
	color: $white;
	position: relative;
	label {
		font-size: 12px;
		line-height: 1;
	}
	a {
		color: $orange;
	}
}

input[type='checkbox'] {
	appearance: none;
	width: 12px;
	height: 12px;
	border: 0.5px solid $white;
	border-radius: 2px;
	background: transparent;
	cursor: pointer;
	position: relative;
	flex-shrink: 0;
	transition: all 0.15s;
	margin: 0;
}

input[type='checkbox']:checked {
}

input[type='checkbox']:checked::after {
	content: '✓';
	position: absolute;
	inset: 0;
	color: $orange;
	font-size: 16px;
	font-weight: bold;
	display: grid;
	place-items: center;
}

.error {
	color: red;
	font-size: 0.7rem;
	margin-top: 6px;
	position: absolute;
	top: -1.3rem;
	display: block;
	min-height: 1.2em;
}
.checkbox-error {
	top: unset;
	bottom: -1rem;
}

/* Модальное окно */
dialog {
	border: none;
	border-radius: 16px;
	padding: 40px 32px;
	box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
	max-width: 380px;
	text-align: center;
	background: white;

	img {
		width: 140px;
		height: 140px;
		margin: 0 0 16px;
	}
	h2 {
		margin: 0 0 16px;
	}
}
