@use '../variables.scss' as *;
@use '../breakpoints' as bp;

.header {
	width: 100%;

	&__container {
		max-width: 1263px;
		padding: 0 12px;
		margin: 0 auto;
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 13px;
		margin-bottom: 5px;
		@include bp.tablet-1024 {
			justify-content: left;
			position: relative;
			z-index: 5;
		}
		&-logos {
			display: flex;
			gap: 24px;
			align-items: center;
			@include bp.tablet-1024 {
				margin-right: 8px;
			}
			.logo {
				max-width: 94.11px;
				height: 16px;
			}
			.award {
				max-width: 134px;
				height: 40px;
				@include bp.tablet-1024 {
					display: none;
				}
			}
		}
		.tank-logo {
			margin-left: 28px;
			padding-top: 3px;
		}
		.tank {
			max-width: 35px;
			height: 46px;
		}
		.contacts {
			display: flex;
			flex-direction: column;
			gap: 8px;
			padding-left: 20px;
			@include bp.tablet-1024 {
				margin-left: auto;
				margin-right: 20px;
				&.active {
					display: none;
				}
			}
			a {
				display: flex;
				align-items: center;
				gap: 8px;
				font-size: 12px;
				font-weight: 300;
				letter-spacing: -0.25px;
				color: $white;
				transition: all 0.2s ease-in;
			}
			.phone {
				color: $orange;

				svg {
					color: $orange;
					@include bp.tablet-1024 {
						width: 30px;
						height: 30px;
					}
				}
				span {
					@include bp.tablet-1024 {
						display: none;
					}
				}
				&:hover {
					color: $white;
				}
			}

			.location {
				color: $secondary-white;
				&:hover {
					color: $white;
				}
				@include bp.tablet-1024 {
					display: none;
				}
				& svg {
					color: $secondary-white;
				}
				&:hover svg {
					color: $white;
				}
			}
		}
	}
	.burger {
		display: none;
		@include bp.tablet-1024 {
			display: block;
			position: relative;
			width: 32px;
			height: 24px;
			background: none;
			border: none;
			cursor: pointer;
			z-index: 1100;

			span {
				position: absolute;
				left: 0;
				width: 100%;
				height: 3px;
				background: white;
				border-radius: 2px;
				transition: all 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
			}

			span:nth-child(1) {
				top: 0;
			}
			span:nth-child(2) {
				top: 10px;
			}
			span:nth-child(3) {
				top: 20px;
			}

			&.active {
				margin-left: auto;
				span:nth-child(1) {
					transform: rotate(45deg);
					top: 10px;
				}
				span:nth-child(2) {
					opacity: 0;
					transform: translateX(-20px);
				}
				span:nth-child(3) {
					transform: rotate(-45deg);
					top: 10px;
				}
			}
		}
	}
	nav {
		justify-self: center;
		margin-left: auto;
		margin-right: auto;
		max-width: 900px;
		padding-bottom: 6px;
		@include bp.tablet-1024 {
			position: fixed;
			top: 0;
			right: -100%;
			width: 97vw;
			max-width: 100%;
			height: 100vh;
			background: #181818;
			padding: 72px 0 24px 0;
			transition: right 0.45s cubic-bezier(0.77, 0.2, 0.05, 1);
			z-index: 2;
			overflow-y: auto;
			&.active {
				right: 0;
				left: 0;
				padding: 72px 24px 24px 12px;
			}
		}
		ul {
			display: flex;
			align-items: center;
			gap: 24px;
			padding-left: 6px;
			@include bp.tablet-1024 {
				flex-direction: column;
				gap: 28px;
				align-items: flex-start;
			}
			li {
				font-size: 14px;
				font-weight: 800;
				color: $white;
				cursor: pointer;
				opacity: 0.8;
				transition: all 0.3s ease-in;
				letter-spacing: -0.3px;
				&:hover {
					opacity: 1;
				}
				.color__link {
					background-color: $orange;
					color: $white;
					padding: 2px 4px 6px 4px;
					border-radius: 4px;
					opacity: 0.8;
					transition: all 0.3s ease-in;
					&:hover {
						opacity: 1;
					}
				}
				span {
					text-transform: uppercase;
					font-size: 14px;
					font-weight: 800;
					color: $white;
				}
			}
		}
		.primary-button {
			display: none;
			@include bp.tablet-1024 {
				display: flex;
				max-width: 148px;
				align-items: center;
				gap: 4px;
				color: $white;
				padding: 9px 20px;
				font-size: 12px;
				line-height: 10px;
				margin-top: 20px;
			}
		}
	}
}
