@use '../variables.scss' as *;
@use '../breakpoints' as bp;

.main__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 0 44px 0;
	.conditions {
		display: flex;
		gap: 108px;
		margin-bottom: 111px;
		width: 83%;
		@include bp.tablet-1024 {
			flex-direction: column;
		}
		h2 {
			max-width: 364px;
			font-size: 40px;
			line-height: 56px;
			font-weight: 800;
			color: $white;
			text-align: left;
			letter-spacing: 0.8px;
			@include bp.tablet-1024 {
				max-width: 100%;
			}
			span {
				color: $orange;
				display: inline-block;
			}
		}
		img {
			max-width: 559px;
			padding-top: 9px;
		}
	}
	.steps {
		display: flex;
		flex-wrap: wrap;
		flex: 1 1 auto;
		max-width: 1048px;
		margin-bottom: 41px;
		row-gap: 92px;
		column-gap: 16px;
		justify-content: center;
		@include bp.tablet-768 {
			margin-bottom: 60px;
		}
		&__card {
			width: 100%;
			max-width: 516px;
			img {
				max-width: fit-content;
				max-height: 148px;
				margin-bottom: 32px;
			}
			&-descr {
				display: flex;
				gap: 29px;
				@include bp.tablet-768 {
					flex-direction: column;
					align-items: center;
				}
				.step-number {
					flex: 0;
					font-size: 64px;
					font-weight: 700;
					color: $orange;
				}
				& .text {
					color: $white;
					text-align: left;
					@include bp.tablet-768 {
							text-align: center;
						}
					h3 {
						font-weight: 500;
						font-size: 24px;
						margin-bottom: 16px;
						line-height: 31px;
						@include bp.tablet-768 {
							font-size: 18px;
							line-height: 24px;
							margin-bottom: 5px;
						}
					}
					span {
						font-weight: 700;
						font-size: 24px;
						@include bp.tablet-768 {
							font-size: 18px;
							line-height: 24px;
						}
					}
				}
			}
			&.first {
				.text {
					padding-top: 7px;
					line-height: 31px;
					span {
						letter-spacing: -0.9px;
					}
				}
			}
			&.second {
				img {
					padding-top: 9px;
				}
				.text {
					padding-top: 8px;
					padding-left: 2px;
					line-height: 31px;
					span {
						letter-spacing: -0.9px;
					}
				}
			}
			&.third {
				margin-left: 55px;
				@include bp.tablet-768 {
					margin-left: 0;
				}
				img {
					margin-bottom: 24px;
					padding-right: 55px;
					@include bp.tablet-768 {
						padding: 0;
					}
				}
				.steps__card-descr {
					gap: 25px;
				}
				.text {
					padding-top: 8px;
					padding-left: 2px;
					line-height: 31px;
					@include bp.tablet-768 {
						padding: 0;
						width: 100%;
					}
					span {
						letter-spacing: -0.9px;
						line-height: 28px;
					}
				}
			}
		}
	}
	.conclusion {
		font-size: 40px;
		line-height: 48px;
		color: $white;
		display: inline-block;
		@include bp.tablet-768 {
			font-size: 22px;
			line-height: 30px;
		}
		span {
			display: block;
			color: $orange;
		}
	}
}
