@use '../variables.scss' as *;
@use '../breakpoints' as bp;
.map-section {
	width: 100%;
	height: 670px;
	position: relative;
	@include bp.tablet-768 {
		height: auto;
	}
}

.map-section h2 {
	text-align: center;
	margin-bottom: 1.2rem;
	font-size: 2.2rem;
}

.map-address {
	text-align: center;
	font-size: 1.15rem;
	line-height: 1.6;
	margin-bottom: 2.5rem;
	color: #444;
}

.map-wrapper {
	position: relative;
	width: 100%;
	height: 670px;
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
	
}

.ymap {
	width: 100%;
	height: 100%;
}
