@use '../variables.scss' as *;
@use '../breakpoints' as bp;
.socials {
	display: flex;
	align-items: center;
	gap: 20px;
	li {
		width: 32px;
		height: 32px;
		a {
			display: flex;
			width: 100%;
			height: 100%;
			cursor: pointer;
			svg {
				color: $white;
				transition: all 1.3 ease-in;
			}
		}
	}

	a:hover svg {
		color: $orange;
	}
}
