$background-color: #121214;
$font-abhaya-extrabold: 'Abhaya Libre', serif;



$transition: all 1.3 easy-in-out 0;

$orange: #f68e57;
$white: #fefefe;
$secondary-white: #fefefecc;
$purple: #93589D;
$purple-2: #BE9AC4;
