@use './variables.scss' as *;
@use './breakpoints.scss' as *;
@use './components/header.scss' as *;
@use './components/main-banner.scss' as *;
@use './components/main-content.scss' as *;
:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}
img {
	width: 100%;
	object-fit: cover;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	background-color: $background-color;
}

h1 {
	font-family: $font-abhaya-extrabold;
	font-weight: 800;
	font-size: 3.2em;
	line-height: 1.1;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 89px;
	text-align: center;
}
