@use './variables.scss' as *;
@use './breakpoints.scss' as bp;
@use './components/buttons.scss' as *;
@use './components/socials.scss' as *;
@use './components/header.scss' as *;
@use './components/footer.scss' as *;
@use './components/main-banner.scss' as *;
@use './components/main-content.scss' as *;
@use './components/form.scss' as *;
@use './components/map.scss' as *;
@use './components/address-card.scss' as *;

:root {
	font-family: system-ui, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
main {
	width: 100vw;
	overflow-x: hidden;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}
img {
	width: 100%;
	object-fit: cover;
}
body {
	// font-family: Oswald;
	margin: 0;
	display: flex;
	flex-direction: column;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	background-color: $background-color;
	color: $white;
	overflow-x: hidden;
}

h1,h2,h3
p {
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 89px;
	text-align: center;
	@include bp.tablet-1024 {
		padding: 0 16px;
	}
}
