<header class="header">
			<div class="header__container">
				<div class="header__top">
					<div class="header__top-logos">
						<a href="#" target="_blank">
							<img
								width="94.11"
								height="16"
								src="src/assets/svg/logo.svg"
								class="logo"
								alt="logo"
							/>
						</a>

						<img
							width="134"
							height="40"
							src="src/assets/svg/award.svg"
							class="award"
							alt="award"
						/>
					</div>
					<a href="#" target="_blank">
						<img
							width="35"
							height="46"
							src="src/assets/svg/tank.svg"
							class="tank"
							alt="tank"
						/>
					</a>
					<div class="contacts">
						<a href="#" class="location">
							<svg width="16" height="16" aria-hidden="true">
								<use href="#icon-location"></use>
							</svg>
							<span> Москва, Волгоградский проспект, 41, к. 1 </span></a
						>
						<a href="tel:+7%20495%20730%2055%2088" class="phone">
							<svg width="16" height="16" aria-hidden="true">
								<use href="#icon-phone"></use>
							</svg>
							<span> +7 (495) 407-78-00 </span>
						</a>
					</div>
					<button
						class="burger"
						aria-label="Открыть меню"
						aria-expanded="false"
					>
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
				<nav class="mobile-nav">
					<ul>
						<li>МОДЕЛИ</li>
						<li>
							<a href="#" class="color__link"> <span>АВТО В НАЛИЧИИ</span></a>
						</li>
						<li>ТЕСТ-ДРАЙВ</li>
						<li>СПЕЦПРЕДЛОЖЕНИЯ</li>
						<li>СЕРВИС</li>
						<li>О КОМПАНИИ</li>
						<li>
							<a href="#"><span>КОНТАКТЫ</span></a>
						</li>
					</ul>
				</nav>
			</div>
		</header>